[submodule "test/ouchitest"]
	path = test/ouchitest
	url = https://github.com/ouchiminh/ouchitest.git
[submodule "ouchilib"]
	path = ouchilib
	url = https://github.com/ouchiminh/ouchilib.git
[submodule "multiprecision"]
	path = multiprecision
	url = https://github.com/boostorg/multiprecision.git
